<header>
    <mat-toolbar class="box" color="primary">
        <div class="left-side">

            <mat-icon class="close-btn" (click)="closeMenu()">menu</mat-icon>

            <span>Slack-Clone</span>
        </div>
        <ng-container *ngIf="authService.currentUser$ |async as user; else loginButton">
            <button mat-button [matMenuTriggerFor]="userMenu">
                <div class="user">
                    <img class="user-img" [src]="user?.photoURL ?? 'assets/profile-img/profile-1.png'">
                    {{user.displayName}}

                </div>

                <!-- <mat-icon>expand_more</mat-icon> -->
            </button>

        </ng-container>

        <ng-template #loginButton>
            <button mat-button routerLink="login">Login
                <mat-icon>login</mat-icon>
            </button>
        </ng-template>


        <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="home">
            Home
        </button>
            <button mat-menu-item routerLink="profile">
            Profile
        </button>
            <button mat-menu-item (click)="logout()">
            Logout
        </button>
            <button class="danger" mat-menu-item (click)="deleteAccount()">
            Delete account
        </button>
        </mat-menu>
    </mat-toolbar>

</header>