<header>
    <mat-toolbar class="box" color="primary">
        <span>Slack-Clone</span>
        <ng-container *ngIf="authService.currentUser$ |async as user; else loginButton">
            <button mat-button [matMenuTriggerFor]="userMenu">
                <img class="user-img" src="assets/profile-img/profile-1.png">
                {{user.displayName}}
                <!-- <mat-icon>expand_more</mat-icon> -->
            </button>
        </ng-container>

        <ng-template #loginButton>
            <button mat-button routerLink="login">Login
                <mat-icon>login</mat-icon>
            </button>
        </ng-template>

    </mat-toolbar>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="profile">
            profile
        </button>
        <button mat-menu-item (click)="logout()">
            Logout
        </button>
  
       
    </mat-menu>
</header>