.side-nav-container {
    background-color: #232946;
    height: 100%;
    width: 300px;
    h1 {
        color: #fffffe;
        border-bottom: 2px solid;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p {
        color: #b8c1ec;
    }
}