a {
    text-decoration: none;
    color: gray;
    margin-bottom: 8px;
}

.channels {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    h3 {
        width: 100%;
        padding-bottom: 10px;
    }
}

.cereat-channels {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    background-color: #4d66df96;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-btn {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8c1ec;
}

mat-dialog-container {
    padding: 0;
}

.direct-msg {
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #4d66df96;
    padding: 10px;
    margin-bottom: 10px;
    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.channel-list {
    list-style: none;
    &::before {
        content: '#';
        padding-right: 15px;
    }
}

.link-to-channel {
    display: flex;
}