.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.dm {
    margin: 16px;
    display: flex;
    justify-content: space-between;
    mat-icon {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: gray;
    margin-bottom: 8px;
}

.channels {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    h3 {
        padding-bottom: 10px;
    }
}

.f-size-16 {
    font-size: 14px;
}

.cereat-channels {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    background-color: #4d66df96;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-btn {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8c1ec;
}

mat-dialog-container {
    padding: 0;
}

.direct-msg {
    max-width: 100%;
    .user-sidenav {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #4d66df96;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        img {
            height: 35px;
            width: 35px;
            object-fit: cover;
            border-radius: 100%;
            margin-left: 10px;
        }
    }
}

.channel-list {
    list-style: none;
    &::before {
        content: '#';
        padding-right: 15px;
    }
    &:active {
        background-color: black;
    }
}

.link-to-channel {
    display: flex;
    &:focus-within {
        background-color: black;
    }
}

.user-img {
    width: 64px;
    height: 64px;
}

.chat-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.chat-text {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.user-name-sidenav {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}