<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="side-nav" mode="side" opened="true">
        <div class="channels m-left-20 ">
            <div class="chat">
                <div class="chat-user">
                    <div class="chat-text" *ngIf="authService.currentUser$ |async as user; ">
                        <div class="user-image"><img [src]="user.photoURL" alt=""></div>
                        <span class="user-name-sidenav"> {{user.displayName}}</span>
                        <span> {{user.email}}</span>
                        <button class="log-out-btn" mat-menu-item (click)="logout()">
                            Logout
                        </button>

                    </div>
                </div>
            </div>
            <h2>Channels</h2>
            <div class="channels-main">
                <mat-selection-list #channel [multiple]="false">
                    <mat-list-option class="channel-list" *ngFor="let channel of allChannels" [routerLink]=" ['/chat/' + channel.customIdName]" [value]="channel">
                        <a class="link-to-channel">
                            # {{channel.channelName}}
                        </a>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>

        <div class="cereat-channels">
            <button (click)="openDialog()" class="add-btn" mat-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
            <span (click)="openDialog()" class="m-left-20"> Add Channel</span>
        </div>

        <div class="direct-msg column  m-left-20">
            <div class="dm">
                <h3>Direct Message</h3>
                <mat-icon (click)="OpenAddDmChannel()">add</mat-icon>
            </div>
            <div class="channels-main">

                <mat-selection-list #directMSG [multiple]="false">
                    <mat-list-option class="channel-list" *ngFor="let Directchannel of DM_channels" [routerLink]=" ['/chat/' + Directchannel.dmID]" [value]="directMSG">
                        <a class="link-to-channel">
                            # {{Directchannel.name}}
                        </a>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </mat-drawer>

</mat-drawer-container>