<!-- <div class="d-flex f-size-16"> -->

<div class="channels m-left-20">
    <div class="chat">
        <div class="chat-user">
            <div class="chat-text" *ngIf="authService.currentUser$ |async as user; ">
                <span class="user-name-sidenav"> {{user.displayName}}</span>
                <span> {{user.email}}</span>
            </div>
        </div>
    </div>
    <!-- <a [routerLink]=" ['', { outlets: { 'page-list': ['home'] }}] ">Home</a> -->
    <!-- <a [routerLink]=" ['', { outlets: { 'page-list': null }}] ">Leeren</a> -->
    <h2>Channels</h2>
    <div class="channels-main">
        <!-- <a class="link-to-channel" [routerLink]=" ['', { outlets: { 'page-list': ['chat', channel.customIdName] }}] " *ngFor="let channel of allChannels"> -->
        <a class="link-to-channel" [routerLink]=" ['/chat/' + channel.customIdName] "
            *ngFor="let channel of allChannels">
            <li class="channel-list"></li>{{ channel.channelName }}
        </a>
    </div>
</div>

<div class="cereat-channels p-left-20">
    <button (click)="openDialog()" class="add-btn" mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
    <span class="m-left-20"> Add Channel</span>
</div>

<div class="direct-msg column">
    <div class="dm">
        <h3>Direct Message</h3>
        <mat-icon (click)="OpenAddDmChannel()">add</mat-icon>
    </div>
    
        <div class="user-sidenav" *ngFor="let channel of DM_channels" [routerLink]=" ['/chat/' + channel.dmID]" >
            <img src="assets/profile-img/profile-1.png" alt="">
            <span class="m-left-20">{{ channel.name }}</span>
        </div>
    
</div>

<!-- </div> -->