.bg2 {
    height: 100vh;
}

.sidenav-responsive {
    display: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}

////////////////////////////////////////// Toolbar ////////////////////////////////////////
mat-toolbar {
    height: 10vh;
}

///////////////////////////////////////// Side nav ////////////////////////////////////////
.side-nav-container {
    height: 100%;
    padding-top: 64px;
}

.d-none {
    display: none;
}

.close-btn {
    position: absolute;
}

.sidebar-container {
    position: relative;
}

.side-nav {
    display: flex;
    width: 300px;
    background-color: #232946 !important;
    padding-top: 20px;
    color: #fffffe;
    padding-top: 64px;
    h1 {
        color: #fffffe;
        border-bottom: 2px solid;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p {
        color: #b8c1ec;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sidenav-responsive {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #232946;
        color: white;
    }
    .responsiv-button {
        display: inline;
        width: 30px;
        position: absolute;
        top: 60px;
        z-index: 1;
        right: 38px;
    }
}