<app-header [responsvie]="drawer" class="header">
</app-header>
<app-sidebar #drawer class="sidebar-container">
</app-sidebar>


<!-- <div class="router-outlet">
    <router-outlet></router-outlet>
</div> -->
<!-- <mat-drawer-container>
    <mat-drawer #drawer class="sidenav-responsive" [ngClass]="sidebarOpen? 'd-none' : 'sidenav-responsive' " opened="true">
        <div class="responsiv-button">
            <button (click)="closeSidebar()" mat-fab color="primary">
                <mat-icon (click)="drawer.toggle()">close</mat-icon>
            </button>
        </div>
        <app-sidebar>
        </app-sidebar>

    </mat-drawer>

</mat-drawer-container> -->





<!-- <router-outlet name="page-list"></router-outlet> -->