

.chat {
    margin-bottom: 8px;
}

.chat-user {
    display: flex;

    img {
        height: 50px;
    }
}

.chat-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    color: black;
}

.user-name {
    font-weight: bold;
    color: unset;
}

.message-time {
    margin-left: 8px;
    font-weight: normal;
    font-size: 0.8rem;
    color: gray;
}