.chat {
    margin-bottom: 8px;
}


/* From NAvi */

.channel-name {
    border-bottom: 2px solid grey;
}

.msg-box {
    margin: 20px 20px 20px 20px;
    background-color: #3b4ea0;
    border-radius: 5px;
    div {
        padding: 20px 20px 20px 20px;
    }
}

.chat-user {
    display: flex;
    img {
        height: 50px;
    }
}

.chat-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.user-name {
    font-weight: bold;
}

.message-time {
    margin-left: 8px;
    font-weight: normal;
    font-size: 0.8rem;
    color: gray;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px !important;
    top: unset !important;
}

.send-btn {
    width: 164px;
    height: 70px;
    border-radius: 5px 5px 5px 5px;
    transition: opacity 1s ease-in-out;
    margin-left: 20px;
    &:hover {
        mat-icon {
            transition: opacity 255ms ease-in-out;
            opacity: 0;
        }
    }
    &::before {
        content: "Send";
        visibility: hidden;
        position: absolute;
        transition: all 255ms ease-in-out;
        text-align: center;
        opacity: 0;
        top: 0;
        bottom: 0;
        margin-right: 5px;
        font-size: 16px;
        top: 0;
        bottom: 0;
        margin-right: 5px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        mat-icon {
            opacity: 1;
        }
    }
    &:hover::before {
        visibility: visible;
        opacity: 1;
        mat-icon {
            opacity: 0;
        }
    }
}

////////////////////////////// Chat Window Roland ///////////////////////////////////////
mat-icon {
    color: black;
}

.chat-container {
    height: 80%;
}

.show-chat {
    margin: 16px;
    height: calc(80% - 32px);
    overflow-y: scroll;
    overflow: scroll;
    height: 68vh;
}

.message-container {
    margin: 16px;
    height: calc(20% - 32px);
    mat-form-field {
        width: 100%;
        bottom: 10px;
        textarea {
            height: 100px;
            resize: none;
        }
        mat-icon {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }
}