<div class="chat-room m-left-350 p-absolute d-flex-center-colm">
    <div class="chat p-absolute">
        <div class="chat-user">
            <img src="/assets/profile-img/profile-3.png">
            <div class="chat-text">
                <span class="user-name">Roland Vas <span class="message-time">15:30 Uhr</span> </span>
                <span>Nachricht</span>
            </div>
        </div>
    </div>
    <div class="editor-container">
        <editor [init]="
    { toolbar: 'undo redo | styles pre | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
    height: 150,
    branding: false,
    menubar: false,
    statusbar: true,
    elementpath: false,
    browser_spellcheck: true
   }" [(ngModel)]="messageInput">
        </editor>
    </div>
    <button (click)="msgValue(); messageInput =''">Try It</button>
</div>