.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: calc(100% - 65px);
}

.content {
    padding: 20px;
}

.form-container {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    background-color: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coloum {
    flex-direction: column;
}

.login {
    width: 80%;
    height: 45px;
    margin-bottom: 15px;
}

.guest {
    background-color: #fe3939 !important;
    color: white !important;
    &:hover {
        background-color: #ff1f1f !important;
    }
}

.margin-top {
    margin-top: 20px;
}

.block {
    display: flex;
    justify-content: center;
}