/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex-center-colm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.m-left-20 {
    // ml-20 maybe ?
    margin-left: 20px !important;
}

.m-right-20 {
    // mr-20 maybe ?
    margin-right: 20px;
}

.mat-dialog-container {
    padding: 0 !important;
}

.p-left-20 {
    // pl-20 maybe ?
    padding-left: 20px;
}

.p-right-20 {
    padding-right: 20px;
}

.m-left-350 {
    margin-left: 350px;
}

.p-absolute {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}

.p-top-35 {
    padding-top: 35px;
}

.p-relative {
    position: relative;
}