.img-upload {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thread-container {
    height: 35vh;
    overflow: auto;
    overflow-x: hidden;
}

.upload-img {
    position: absolute;
    top: 0;
}

.border-bottom {
    border-bottom: 2px solid;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    margin-left: 13px;
}

.msg-image-threads {
    width: 50% !important;
}

.thread-heading {
    button {
        background-color: #232946 !important;
        &:hover {
            background-color: #3f51b5 !important;
        }
    }
}

mat-mini-fab {}

@media(max-width: 760px) {
    .editor-thread {}
    .editor-container {
        width: fit-content;
        width: 60%;
    }
}