.img-upload {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thread-container {
    height: 35vh;
    overflow: auto;
    overflow-x: hidden;
}

.upload-img {
    position: absolute;
    top: 0;
}

.border-bottom {
    border-bottom: 2px solid;
}

.msg-image-threads {
    width: 50% !important;
}